.summit-blue{
  background-color: #190C5C;
  border-color: #190C5C;
}

.summit-white{
  color: #FFFFFF;

}

.white-background{
  background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-inverse .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar-inverse {
    min-height:32px !important;
    position: relative;
    margin-bottom: 0;
}


.navbar-default .navbar-nav > li > a {
    color: #190C5C; /*Change active text color here*/
}

.navbar-default {
  padding-top: 0px;
  padding-bottom: 0;
 min-height: 55px !important;
  height: 72px !important;
  color: #190C5C;

}

.navbar-default a{
  border-bottom: 3px solid #FFFFFF;
}

.navbar-default a:hover {
  border-bottom: 3px solid #190C5C;
}

.navbar-default a:active {
  border-bottom: 3px solid #190C5C;
}

.navbar-logo {
  height: 68px !important;
  padding-bottom: 4px;
}
.logo-container {
  position:relative;
  padding-top: 0px;
  margin-top:0px;
}
